




    
  	
   	





	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50313437313934?dRevLabel=1&Rendition=200x200_JPG" alt="Mierikswortel">

        
        
        
        

        
            
                
                
                
            















    

    
    
        
            
            
            
                

                

                

                

                

                

                

                

                

                

                
            

            

        

        <div class="shield shield-beta shield-icon shield--beta"></div>

    



        

        
        

        
        

        
        
            <p class="unit">
                per stuk

                    
                
            </p>
        

        
        





<p class="price"><ins>1.<span>49</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi221517/mierikswortel">
        
        <h2
             >
            Mie&shy;riks&shy;wor&shy;tel
        </h2>
        </a>

        

        









    <p class="info new-online">
        
            
            
                Op=Op
            
        
    </p>




	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi221517">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi221517"
                
                data-text="Mierikswortel" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50313437313634?dRevLabel=1&Rendition=200x200_JPG" alt="AH Pepermix">

        
        
        
        

        
            
                
                
                
            















    

    
    
        
            
            
            
                

                

                

                

                

                

                

                

                

                

                
            

            

        

        <div class="shield shield-beta shield-icon shield--beta"></div>

    



        

        
        

        
        

        
        
            <p class="unit">
                75 gr

                    
                
            </p>
        

        
        





<p class="price"><ins>1.<span>50</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi221518/ah-pepermix">
        
        <h2
             >
            AH Pe&shy;per&shy;mix
        </h2>
        </a>

        

        









    <p class="info new-online">
        
            
            
                Op=Op
            
        
    </p>




	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi221518">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi221518"
                
                data-text="AH Pepermix" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50313438353039?dRevLabel=1&Rendition=200x200_JPG" alt="AH Snackgroente rettich met wasabi dip">

        
        
        
        

        
            
                
                
                
            















    

    
    
        
            
            
            
                

                

                

                

                

                

                

                

                

                

                
            

            

        

        <div class="shield shield-beta shield-icon shield--beta"></div>

    



        

        
        

        
        

        
        
            <p class="unit">
                180 gr

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>00</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi221522/ah-snackgroente-rettich-met-wasabi-dip">
        
        <h2
             >
            AH Snack&shy;groen&shy;te ret&shy;tich met wa&shy;sa&shy;bi dip
        </h2>
        </a>

        

        









    <p class="info new-online">
        
            
            
                Op=Op
            
        
    </p>




	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi221522">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi221522"
                
                data-text="AH Snackgroente rettich met wasabi dip" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50313438353234?dRevLabel=1&Rendition=200x200_JPG" alt="AH Sla compleet Japans">

        
        
        
        

        
            
                
                
                
            















    

    
    
        
            
            
            
                

                

                

                

                

                

                

                

                

                

                
            

            

        

        <div class="shield shield-beta shield-icon shield--beta"></div>

    



        

        
        

        
        

        
        
            <p class="unit">
                238 gr

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>99</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi221520/ah-sla-compleet-japans">
        
        <h2
             >
            AH Sla com&shy;pleet Ja&shy;pans
        </h2>
        </a>

        

        









    <p class="info new-online">
        
            
            
                Op=Op
            
        
    </p>




	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi221520">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi221520"
                
                data-text="AH Sla compleet Japans" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50313437333832?dRevLabel=1&Rendition=200x200_JPG" alt="AH Japanse wokgroente met zoete sojasaus">

        
        
        
        

        
            
                
                
                
            















    

    
    
        
            
            
            
                

                

                

                

                

                

                

                

                

                

                
            

            

        

        <div class="shield shield-beta shield-icon shield--beta"></div>

    



        

        
        

        
        

        
        
            <p class="unit">
                420 gr

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>99</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi221521/ah-japanse-wokgroente-met-zoete-sojasaus">
        
        <h2
             >
            AH Ja&shy;pan&shy;se wok&shy;groen&shy;te met zoe&shy;te so&shy;ja&shy;saus
        </h2>
        </a>

        

        









    <p class="info new-online">
        
            
            
                Op=Op
            
        
    </p>




	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi221521">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi221521"
                
                data-text="AH Japanse wokgroente met zoete sojasaus" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50313437333833?dRevLabel=1&Rendition=200x200_JPG" alt="AH Aziatische wokgroente met curry woksaus">

        
        
        
        

        
            
                
                
                
            















    

    
    
        
            
            
            
                

                

                

                

                

                

                

                

                

                

                
            

            

        

        <div class="shield shield-beta shield-icon shield--beta"></div>

    



        

        
        

        
        

        
        
            <p class="unit">
                400 gr

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>99</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi221519/ah-aziatische-wokgroente-met-curry-woksaus">
        
        <h2
             >
            AH Azi&shy;a&shy;ti&shy;sche wok&shy;groen&shy;te met cur&shy;ry wok&shy;saus
        </h2>
        </a>

        

        









    <p class="info new-online">
        
            
            
                Op=Op
            
        
    </p>




	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi221519">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi221519"
                
                data-text="AH Aziatische wokgroente met curry woksaus" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50313437313936?dRevLabel=1&Rendition=200x200_JPG" alt="AH Paddenstoelen om te wokken">

        
        
        
        

        
            
                
                
                
            















    

    
    
        
            
            
            
                

                

                

                

                

                

                

                

                

                

                
            

            

        

        <div class="shield shield-beta shield-icon shield--beta"></div>

    



        

        
        

        
        

        
        
            <p class="unit">
                200 gr

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>99</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi221555/ah-paddenstoelen-om-te-wokken">
        
        <h2
             >
            AH Pad&shy;den&shy;stoe&shy;len om te wok&shy;ken
        </h2>
        </a>

        

        









    <p class="info new-online">
        
            
            
                Op=Op
            
        
    </p>




	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi221555">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi221555"
                
                data-text="AH Paddenstoelen om te wokken" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://cmgtcontent.ahold.com.kpnis.nl/cmgtcontent/media//001062000/000/001062066_001_221494_200.jpg" alt="Papaya">

        
        
        
        

        
            
                
                
                
            















    

    
    
        
            
            
            
                

                

                

                

                

                

                

                

                

                

                
            

            

        

        <div class="shield shield-beta shield-icon shield--beta"></div>

    



        

        
        

        
        

        
        
            <p class="unit">
                per stuk

                    
                
            </p>
        

        
        





<p class="price"><ins>3.<span>50</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi221494/papaya">
        
        <h2
             >
            Pa&shy;paya
        </h2>
        </a>

        

        









    <p class="info new-online">
        
            
            
                Op=Op
            
        
    </p>




	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi221494">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi221494"
                
                data-text="Papaya" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50303132323935?dRevLabel=2&Rendition=200x200_JPG" alt="AH Conference handperen">

        
        
        
        

        
            
                
                
                
            















    

    
    
        
            
            
            
                

                
                    
                

                

                

                

                

                

                

                

                

                
            

            

        

        <div class="shield shield-beta shield-bonus shield-beta"><span class='shield-text-alpha'>BONUS </span> </div>

    



        

        
        

        
        

        
        
            <p class="unit">
                4 stuks

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>29</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi96398/ah-conference-handperen">
        
        <h2
             >
            AH Con&shy;fe&shy;ren&shy;ce hand&shy;pe&shy;ren
        </h2>
        </a>

        

        









    <p class="info discount">
        
            
            
                vandaag
            
        
    </p>




	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi96398">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi96398"
                
                data-text="AH Conference handperen" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="" data-group-id="84524">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50303132333735?dRevLabel=2&Rendition=200x200_JPG" alt="AH Conference peren voordeelzak">

        
        
        
        

        

        
        

        
        

        
        
            <p class="unit">
                8 stuks

                    
                
            </p>
        

        
        





<p class="price"><ins>1.<span>49</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi188796/ah-conference-peren-voordeelzak">
        
        <h2
             >
            AH Con&shy;fe&shy;ren&shy;ce pe&shy;ren voor&shy;deel&shy;zak
        </h2>
        </a>

        

        












	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi188796">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi188796"
                
                data-text="AH Conference peren voordeelzak" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50303135363635?dRevLabel=2&Rendition=200x200_JPG" alt="AH Doyenne du Comice (eetrijp)">

        
        
        
        

        

        
        

        
        

        
        
            <p class="unit">
                4 stuks

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>49</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi100265/ah-doyenne-du-comice-eetrijp">
        
        <h2
             >
            AH Doy&shy;en&shy;ne du Co&shy;mi&shy;ce (ee&shy;t&shy;rijp)
        </h2>
        </a>

        

        












	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi100265">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi100265"
                
                data-text="AH Doyenne du Comice (eetrijp)" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50303134373633?dRevLabel=1&Rendition=200x200_JPG" alt="AH Elstar voordeelzak">

        
        
        
        

        

        
        

        
        

        
        
            <p class="unit">
                1,5 kg

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>29</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi123209/ah-elstar-voordeelzak">
        
        <h2
             >
            AH Els&shy;tar voor&shy;deel&shy;zak
        </h2>
        </a>

        

        












	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi123209">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi123209"
                
                data-text="AH Elstar voordeelzak" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://cmgtcontent.ahold.com.kpnis.nl/cmgtcontent/media//000967900/000/000967926_004_212848_200.jpg" alt="AH Fruit van de Maand - Papaja salade">

        
        
        
        

        

        
        

        
        

        
        
            <p class="unit">
                125 gr

                    
                
            </p>
        

        
        







    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi212848/ah-fruit-van-de-maand-papaja-salade">
        
        <h2
             >
            AH Fruit van de Maand - Pa&shy;pa&shy;ja sa&shy;la&shy;de
        </h2>
        </a>

        

        












	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi212848">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi212848"
                
                data-text="AH Fruit van de Maand - Papaja salade" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50303132333131?dRevLabel=1&Rendition=200x200_JPG" alt="AH Fuji appelen">

        
        
        
        

        

        
        

        
        

        
        
            <p class="unit">
                4 stuks

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>79</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi117193/ah-fuji-appelen">
        
        <h2
             >
            AH Fu&shy;ji ap&shy;pe&shy;len
        </h2>
        </a>

        

        












	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi117193">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi117193"
                
                data-text="AH Fuji appelen" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://cmgtcontent.ahold.com.kpnis.nl/cmgtcontent/media//000779900/000/000779968_001_189904_200.jpg" alt="AH Gieser Wildeman peren">

        
        
        
        

        

        
        

        
        

        
        
            <p class="unit">
                1 kg

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>79</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi189904/ah-gieser-wildeman-peren">
        
        <h2
             >
            AH Gie&shy;ser Wil&shy;de&shy;man pe&shy;ren
        </h2>
        </a>

        

        












	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi189904">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi189904"
                
                data-text="AH Gieser Wildeman peren" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50303435363435?dRevLabel=1&Rendition=200x200_JPG" alt="AH Golden Delicious">

        
        
        
        

        

        
        

        
        

        
        
            <p class="unit">
                6 stuks

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>99</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi4127/ah-golden-delicious">
        
        <h2
             >
            AH Gol&shy;den De&shy;li&shy;cious
        </h2>
        </a>

        

        












	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi4127">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi4127"
                
                data-text="AH Golden Delicious" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://cmgtcontent.ahold.com.kpnis.nl/cmgtcontent/media//000310500/000/000310584_004_126744_200.jpg" alt="AH Goudreinette">

        
        
        
        

        

        
        

        
        

        
        
            <p class="unit">
                1,5 kg

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>29</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi126744/ah-goudreinette">
        
        <h2
             >
            AH Goud&shy;rei&shy;net&shy;te
        </h2>
        </a>

        

        












	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi126744">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi126744"
                
                data-text="AH Goudreinette" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50303037323034?dRevLabel=3&Rendition=200x200_JPG" alt="AH Kiwi voordeelverpakking">

        
        
        
        

        

        
        

        
        

        
        
            <p class="unit">
                1 kg

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>99</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi129242/ah-kiwi-voordeelverpakking">
        
        <h2
             >
            AH Ki&shy;wi voor&shy;deel&shy;ver&shy;pak&shy;king
        </h2>
        </a>

        

        












	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi129242">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi129242"
                
                data-text="AH Kiwi voordeelverpakking" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50303132333237?dRevLabel=2&Rendition=200x200_JPG" alt="AH Mandarijnen net">

        
        
        
        

        

        
        

        
        

        
        
            <p class="unit">
                1 kg

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>69</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi94782/ah-mandarijnen-net">
        
        <h2
             >
            AH Man&shy;da&shy;rij&shy;nen net
        </h2>
        </a>

        

        












	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi94782">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi94782"
                
                data-text="AH Mandarijnen net" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50303230303938?dRevLabel=1&Rendition=200x200_JPG" alt="AH Pitloze witte druiven">

        
        
        
        

        

        
        

        
        

        
        
            <p class="unit">
                500 gr

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>99</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi80585/ah-pitloze-witte-druiven">
        
        <h2
             >
            AH Pit&shy;lo&shy;ze wit&shy;te drui&shy;ven
        </h2>
        </a>

        

        












	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi80585">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi80585"
                
                data-text="AH Pitloze witte druiven" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50303736323438?dRevLabel=1&Rendition=200x200_JPG" alt="AH Pitloze rode druiven">

        
        
        
        

        
            
                
                
                
            















    

    
    
        
            
            
            
                

                
                    
                

                

                

                

                

                

                

                

                

                
            

            

        

        <div class="shield shield-beta shield-bonus shield-beta"><span class='shield-text-alpha'>BONUS </span> </div>

    



        

        
        

        
        

        
        
            <p class="unit">
                500 gr

                    
                
            </p>
        

        
        





<p class="price bonus"><del>2.89</del><ins>2.<span>29</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi100232/ah-pitloze-rode-druiven">
        
        <h2
             >
            AH Pit&shy;lo&shy;ze ro&shy;de drui&shy;ven
        </h2>
        </a>

        

        









    <p class="info discount">
        
            
            
                vanaf maandag
            
        
    </p>




	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi100232">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi100232"
                
                data-text="AH Pitloze rode druiven" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="85905">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50303135363830?dRevLabel=2&Rendition=200x200_JPG" alt="AH Kanzi appelen">

        
        
        
        

        

        
        

        
        

        
        
            <p class="unit">
                4 stuks

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>59</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi170798/ah-kanzi-appelen">
        
        <h2
             >
            AH Kan&shy;zi ap&shy;pe&shy;len
        </h2>
        </a>

        

        












	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi170798">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi170798"
                
                data-text="AH Kanzi appelen" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50313032313132?dRevLabel=1&Rendition=200x200_JPG" alt="Pink Lady appelen">

        
        
        
        

        
            
                
                
                
            















    

    
    
        
            
            
            
                

                
                    
                

                

                

                

                

                

                

                

                

                
            

            

        

        <div class="shield shield-beta shield-bonus shield-beta"><span class='shield-text-alpha'>BONUS </span> </div>

    



        

        
        

        
        

        
        
            <p class="unit">
                4 stuks

                    
                
            </p>
        

        
        





<p class="price bonus"><del>2.99</del><ins>2.<span>39</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi117190/pink-lady-appelen">
        
        <h2
             >
            Pink La&shy;dy ap&shy;pe&shy;len
        </h2>
        </a>

        

        









    <p class="info discount">
        
            
            
                vanaf maandag
            
        
    </p>




	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi117190">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi117190"
                
                data-text="Pink Lady appelen" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="85905">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50303135373332?dRevLabel=2&Rendition=200x200_JPG" alt="AH Blauwe bessen">

        
        
        
        

        

        
        

        
        

        
        
            <p class="unit">
                150 gr

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>79</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi143235/ah-blauwe-bessen">
        
        <h2
             >
            AH Blau&shy;we bes&shy;sen
        </h2>
        </a>

        

        












	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi143235">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi143235"
                
                data-text="AH Blauwe bessen" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50313335363837?dRevLabel=1&Rendition=200x200_JPG" alt="Chiquita Mini's">

        
        
        
        

        

        
        

        
        

        
        
            <p class="unit">
                250 gr

                    
                
            </p>
        

        
        





<p class="price"><ins>1.<span>25</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi215682/chiquita-mini-s">
        
        <h2
             >
            Chi&shy;quita Mi&shy;ni's
        </h2>
        </a>

        

        












	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi215682">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi215682"
                
                data-text="Chiquita Mini's" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50303138333138?dRevLabel=1&Rendition=200x200_JPG" alt="AH Handsinaasappel groot">

        
        
        
        

        

        
        

        
        

        
        
            <p class="unit">
                1,5 kg

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>99</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi95822/ah-handsinaasappel-groot">
        
        <h2
             >
            AH Hand&shy;sinaas&shy;ap&shy;pel groot
        </h2>
        </a>

        

        












	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi95822">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi95822"
                
                data-text="AH Handsinaasappel groot" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50303138353030?dRevLabel=1&Rendition=200x200_JPG" alt="AH puur&eerlijk biologische kiwi 's">

        
        
        
        

        

        
        

        
        

        
        
            <p class="unit">
                4 stuks

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>00</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi67707/ah-puur-en-eerlijk-biologische-kiwi-s">
        
        <h2
             >
            AH puur&eer&shy;lijk bi&shy;o&shy;lo&shy;gi&shy;sche ki&shy;wi 's
        </h2>
        </a>

        

        












	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi67707">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi67707"
                
                data-text="AH puur&eerlijk biologische kiwi 's" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50303133303530?dRevLabel=2&Rendition=200x200_JPG" alt="AH Mango">

        
        
        
        

        

        
        

        
        

        
        
            <p class="unit">
                per stuk

                    
                
            </p>
        

        
        





<p class="price"><ins>1.<span>79</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi93224/ah-mango">
        
        <h2
             >
            AH Man&shy;go
        </h2>
        </a>

        

        












	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi93224">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi93224"
                
                data-text="AH Mango" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50303037393637?dRevLabel=3&Rendition=200x200_JPG" alt="AH Granny smith">

        
        
        
        

        

        
        

        
        

        
        
            <p class="unit">
                4 stuks

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>59</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi195431/ah-granny-smith">
        
        <h2
             >
            AH Gran&shy;ny smith
        </h2>
        </a>

        

        












	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi195431">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi195431"
                
                data-text="AH Granny smith" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50303037323034?dRevLabel=3&Rendition=200x200_JPG" alt="AH Kiwi voordeelverpakking">

        
        
        
        

        

        
        

        
        

        
        
            <p class="unit">
                1 kg

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>99</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi129242/ah-kiwi-voordeelverpakking">
        
        <h2
             >
            AH Ki&shy;wi voor&shy;deel&shy;ver&shy;pak&shy;king
        </h2>
        </a>

        

        












	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi129242">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi129242"
                
                data-text="AH Kiwi voordeelverpakking" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50303133303335?dRevLabel=4&Rendition=200x200_JPG" alt="AH Zoete kleine appeltjes">

        
        
        
        

        

        
        

        
        

        
        
            <p class="unit">
                1 kg

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>49</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi129993/ah-zoete-kleine-appeltjes">
        
        <h2
             >
            AH Zoe&shy;te klei&shy;ne ap&shy;pel&shy;tjes
        </h2>
        </a>

        

        












	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi129993">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi129993"
                
                data-text="AH Zoete kleine appeltjes" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	

	
		
		
			
			




	
	
	
		
		
























<div class="canvas_card product draggable"
     data-appie="productpreview" >

    <div class="image">
        <img src="http://beeldbank.ahold.com.kpnis.nl/getimage/AHI_434d50303037353538?dRevLabel=3&Rendition=200x200_JPG" alt="AH Jazz appelen">

        
        
        
        

        

        
        

        
        

        
        
            <p class="unit">
                4 stuks

                    
                
            </p>
        

        
        





<p class="price"><ins>2.<span>79</span></ins></p>

    </div>

    <div class="detail">

        <a href="/appie/producten/product/wi129364/ah-jazz-appelen">
        
        <h2
             >
            AH Jazz ap&shy;pe&shy;len
        </h2>
        </a>

        

        












	</div>

    
    

    
    
        
        

        

        
        
            <a href="#" class="detail-addtolist " data-appie="addproducttomylist" data-productid="wi129364">
                <i class="icon icon-fav" data-appie="tooltip" title="Bewaar in lijstjes">Bewaar in lijstjes</i>
            </a>
        

         
        <input type="text" maxlength="2" class="quantity input-product-quantity hidden" value=""/>
        <a href="#" class='min_button hidden btn btn-blue btn-round'><i class="icon icon-minus">min</i></a>

        <a href="#" class="plus_button btn btn-blue btn-round " data-appie="productcardquantity"
                 data-productid="wi129364"
                
                data-text="AH Jazz appelen" data-shoppable="true" data-sourcecode="CAT" data-type="S"
                data-discount-unit="1" data-group-id="">
            <i class="icon icon-plus">plus</i>
        </a>
    

    
    

</div>

	
	
	
	
	
	
	
	
	
	
	
       
       
	
	
	
	
	
	
       

	

			
		
	




