body {
  padding-top: 90px;
  padding-bottom: 40px;
  background-color: #eee;
 
  
}

.navbar-custom {

background-color:#229922;
background-image: none;
background-repeat: repeat-x;
border-color: none;
text-decoration: none;
text-shadow: none;
color: #ffffff;
filter: none;

}

.navbar .navbar-brand {
  color:#ffffff;
}

.navbar .nav>li>a {
  color:#ffffff;
}

.form-signin
{
  width: 800px;
}

.btn-facebook
{
  width: 800px;
}

.tContainer

{
  padding-left: 50px;
  padding-right: 50px; 
}

#mainInfo
{
  padding-left: 50px;
  padding-right: 50px;
  height: 1000px; 
}

#rowE {
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  
}

#eContainer
{
  padding-top: 30px;
  height: 100%;
  width: 80%;
}

#searcOptions
{
 margin-left:auto;
 margin-right:auto;
  height: 100%;
  width: 25%;
}

#mapCanvas { height: 500px; 
			  width: 100%; 
			  margin-bottom: 60px;
              margin-left: 0px;
              overflow: hidden;
              position: relative;
			  }




