body {
  padding-top: 90px;
  padding-bottom: 40px;
  background-color: #eee;
 
  
}

.navbar-custom {

background-color:#229922;
background-image: none;
background-repeat: repeat-x;
border-color: none;
text-decoration: none;
text-shadow: none;
color: #ffffff;
filter: none;

}

.navbar .navbar-brand {
  color:#ffffff;
}

.navbar .nav>li>a {
  color:#ffffff;
}

.form-signin
{
  width: 800px;
}

.btn-facebook
{
  width: 800px;
}

.tContainer

{
  padding-left: 50px;
  padding-right: 50px; 
}

#mainInfo
{
  padding-left: 50px;
  padding-right: 50px;
  height: 1000px; 
}

#rowE {
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  
}

#eContainer
{
  padding-top: 30px;
  height: 100%;
  width: 80%;
}

#searcOptions
{
 margin-left:auto;
 margin-right:auto;
  height: 100%;
  width: 25%;
}

#mapCanvas { height: 500px; 
			  width: 100%; 
			  margin-bottom: 60px;
              margin-left: 0px;
              overflow: hidden;
              position: relative;
			  }




#sidebar-wrapper {
  top: 0;
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #333;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;

}

.sidebar-nav {
  position: absolute;
  top: 50;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  color: #000;
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #000;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #000;
  background: rgb(34,153,34);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-navHeader > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
  color: #000;
}

.sidebar-navHeader > .sidebar-brand a {
  color: #000;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #000;
  background: none;
}





