<div id="tContainer" class="container-fluid">
<div id="addPrice">
<h4 class="page-header" id="hNewRecepie">Add New Product</h4>
  <div class="table-responsive">
  <table class="table">
  <thead>
        <tr>
            <th width='25%'>Product Name</th>
            <th width='25%'>Price</th>
            <th class='price' width='15%'>Price amount</th>
            <th width='25%'>Location</th>
        </tr>
    </thead>
     <tbody data-bind='foreach: dataArray'>
        <tr>
            <td>
             <select class="form-control" data-bind='options: aName, optionsText: function(item) { return item.label } , value: nameValue' >        
            </td>
            <td>
               <input type="text" class="form-control" id="Price" placeholder="Price" data-bind='value: price, valueUpdate: "afterkeydown"'>
            </td>
            <td>
                  <label>Euro</label>
            </td>
              <td>
                <input type="text" class="form-control" id="Price" placeholder="Shop" data-bind='value: shop, valueUpdate: "afterkeydown"'>
            </td>
        </tr>
    </tbody>
      </table>
      <button type="submit" class="btn btn-default" data-bind='click: addPrice'>Add Price</button>
</div>
</div>
</div>