
<div id="eContainer" class="container-fluid">
  <div class="row" id="rowE">
    <div class="col-xs-6 col-md-4">
    <p>
     Ingredients:
    </p>
    <ul>
            <li>alma</li>
            <li>dio</li>
            <li>körte</li>
            <li>csirke</li>
          </ul>
    </div>
    <div class="col-xs-12 col-md-8">
    <div class="" id="pic"><img  src= "http://localhost:8000/templates/Images/sLogo.png"></div>
    </div>
  </div>
</div>

