<!DOCTYPE HTML>
<html>
<title>
Log in
</title>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'CSS/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'CSS/social-buttons.css' %}">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src=" {% static 'JS/main.js' %}"></script>
<script src="http://connect.facebook.net/en_US/all.js"></script>
</head>
<body>
  <div class="container">
   <div id="fb-root"></div>
      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in with Facebook</h2>
        <input type="facebook" class="form-control" placeholder="Facebook name" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
         <button class="btn btn-facebook" id="fbLogin"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
      </form>
  
   
    </div> <!-- /container -->


</body>
</html>