<!DOCTYPE HTML>
<html>
<head>
{% load staticfiles %}
<script type="text/javascript" src=" http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXdDvij6DdVZdP1bBLYyrIti4ymEO8p5Y&sensor=true"></script> 
<script type="text/javascript" src=" {% static 'JS/main.js' %}"></script>
<script type="text/javascript" src=" {% static 'JS/bootstrap.min.js' %}"></script>
<script type='text/javascript' src=" {% static 'JS/knockout-3.1.0.js' %}"></script>
<script type="text/javascript" src=" {% static 'JS/app.js' %}"></script>
<script type="text/javascript" src=" {% static 'JS/knockout-mapping.js' %}"></script>
<script src="http://malsup.github.com/jquery.form.js"></script> 
<link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'CSS/bootstrap.min.css' %}">
</head>
<body>
<div class="wrapper">
<div class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Student Spare</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a id="avancedS" data-toggle="collapse" href="#collapseOne">Advanced Search</a></li>
            <li><a href="#" id="storePage">Store Locations</a></li>
            <li><a href="#" id="addPriceToProduct">Add Price</a></li>
            <li><a href="#" id="newProduct">Add New Product</a></li>
            <li><a href="#" id="newRecepie">Add New Recepie</a></li>
            </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" id="searcher" placeholder="Search...">
          </form>
          <div class="nav navbar-nav navbar-right" id="searchB"><img class="logo" src= {% static 'Images/search.png' %} ></div>
        </div>
      </div>
      
      <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
      <select class="form-control" id="searcOptions">
            <option selected>Simple search</option>
            <option>Search with friends</option>
            </select>     
      </div>
    </div>
    </div>
    <div id="tContainer" class="container-fluid">
    
    </div>
    
      </div>
</body>
</html>