<div id="newP">
<h4 class="page-header" id="hNewRecepie">Add New Product</h4>
<form role="form" action="" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Product name</label>
    <input type="text" class="form-control" id="PName" placeholder="Product Name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Description</label>
    <input type="text" class="form-control" id="Description" placeholder="Description">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Picture</label>
    <input type="file" id="imgUpload">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>