  <div id="tContainer" class="container-fluid">
<div id="newP">
<h4 class="page-header" id="hNewRecepie">Add New Product</h4>
  <div class="table-responsive">
  <form action="http://localhost:8000/postProduct/" method="post">
  <table class="table">
  <thead>
        <tr>
            <th width='25%'>Product Name</th>
            <th width='25%'>Description</th>
            <th class='price' width='15%'>Image</th>
        </tr>
    </thead>
     <tbody>
        <tr>
            <td>
               
                 <input type="text" class="form-control" id="PName" placeholder="Product Name">
                
            </td>
            <td>
               <input type="text" class="form-control" id="Description" placeholder="Description">
            </td>
            <td>
                   <input type="file" id="exampleInputFile" text="Upload picture">  
            </td>
        </tr>
    </tbody>
      </table>
      <button type="submit" class="btn btn-default">Send</button>
  </form>
</div>
</div>
    </div>