  <div id="tContainer" class="container-fluid">
<div id="newR">
<h4 class="page-header" id="hNewRecepie">Add New Recepie</h4>
 
  <div class="table-responsive">
  <table class="table">
 <div class="container">
    <div class="row" id="row1">
    <div class="col-xs-3 col-xs-3">
     <label for="name">Name</label>
     <input type="text" class="form-control" id="valueN" placeholder="Name">
    </div>



    <div class="col-xs-3 col-xs-3">
     <label for="Description">Description</label>
                   <textarea class="form-control" rows="3" id="valueD"></textarea>   
     </div>

  

    <div class="col-xs-3 col-xs-3">
    <label for="Picture">Add Picture</label>
             <input type="file" id="picture">  
     </div>
</div>
  <thead>
        <tr>
            <th width='25%'>Name</th>
            <th width='25%'>Value</th>
            <th class='price' width='15%'>Measurement</th>
        </tr>
    </thead>
     <tbody data-bind='foreach: dataArray'>
        <tr>
            <td>
               
                 <select class="form-control" data-bind='options: aName, optionsText: function(item) { return item.label } , value: nameValue' >
                
            </td>
            <td>
                <input type="text" class="form-control" id="valueM" placeholder="Value" data-bind='value: valueM, valueUpdate: "afterkeydown"'/>
            </td>
            <td>
                <select class="form-control" data-bind="options: measurements, value: measurementsValue"></select>
            </td>
              <td>
                <a href='#' data-bind='click: $parent.removeLine'>Remove</a>
            </td>
        </tr>
    </tbody>
      </table>
      <button class="btn btn-default" data-bind='click: addLine'>Add product</button>
      <button class="btn btn-default" data-bind='click: send'>Send</button>
</div>
</div>
</div>