<div id="tContainer" class="container-fluid">
<div id="addPrice">
<h4 class="page-header" id="hNewRecepie">Add Price to Product</h4>
  <div class="table-responsive">
  <table class="table">
  <thead>
        <tr>
            <th width='25%'>Product Name</th>
            <th width='10%'>Price</th>
            <th class='price' width='10%'>Price amount</th>
            <th width='15%'>Amount</th>
            <th width='10%'>Measure</th>
            <th width='25%'>Location</th>
        </tr>
    </thead>
     <tbody data-bind='foreach: dataArray' id="productList">
        <tr>
            <td>
                <!-- <select class="form-control" data-bind='options: aName, optionsText: function(item) { return item.label } , value: nameValue' > -->
                <div class="form-group has-error">
                    <input type="text" class="form-control" oninput="refreshproductLister(event)" />
                </div>
            </td>
            <td>
               <input type="text" class="form-control" id="Price" placeholder="Price" data-bind='value: price, valueUpdate: "afterkeydown"'>
            </td>
            <td>
                <label>Euro</label>
            </td>
            <td>
                <input type="text" class="form-control" id="valueM" placeholder="Amount" data-bind='value: valueM, valueUpdate: "afterkeydown"'/>
            </td>
            <td>
                <select class="form-control" data-bind="options: measurements, value: measurementsValue"></select>
            </td>
            <td>
                <input type="text" class="form-control" id="Price" placeholder="Shop" data-bind='value: shop, valueUpdate: "afterkeydown"'>
            </td>
        </tr>
    </tbody>
    </table>
    <div class="container">
        <div class='row'>
            <div class='col-md-8'>
                <div id="productLister" style='scroll: both; overflow: auto; height: 10em;' />
            </div>
            <div class='col-md-4'>
                <button class="btn btn-default" data-bind='click: addPrice'>Add Price</button>
            </div>
        </div>
    </div>
      
</div>
</div>
</div>