{% load staticfiles %}
<script type="text/javascript" src=" http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src=" {% static 'JS/main.js' %}"></script>
<script type="text/javascript" src=" {% static 'JS/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'CSS/bootstrap.min.css' %}">
