<div id="tContainer" class="container-fluid">
    <!-- <div id="fb-root"></div> -->
    <h2 class="form-signin-heading">Please sign in with Facebook</h2>
    <!-- <fb:login-button show-faces="true" width="200px" height="300px" max-rows="1"></fb:login-button> -->
</div>