  <div id="tContainer" class="container-fluid">
<div id="mapDiv">
<h4 class="page-header" id="hNewRecepie">Search for shop</h4>
<div class="row">
  <div class="col-md-9 col-md-push-3"><div id="mapCanvas" /></div>
  <div class="col-md-3 col-md-pull-9">
  <div class="sidebar-wrapper" style='scroll: both; overflow: auto; height: 10em;'>
  <ul class="list-group" id="sidebar-nav">
  </ul>
  </div>
  </div>
</div>
</div>
    </div>