  <div id="tContainer" class="container-fluid">
<div id="newP">
<h4 class="page-header" id="hNewRecepie">Add New Product</h4>
  <div class="table-responsive">
  <table class="table">
  <thead>
        <tr>
            <th width='25%'>Product Name</th>
            <th width='25%'>Description</th>
        </tr>
    </thead>
     <tbody>
        <tr>
            <td>
                <input type="text" class="form-control" id="PName" placeholder="Product Name">
            </td>
            <td>
                <input type="text" class="form-control" id="Description" placeholder="Description">
            </td>
        </tr>
    </tbody>
      </table>
      <button class="btn btn-default" id="newProductSend">Send</button>
</div>
</div>
    </div>